body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#cronometro {
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#tiempo {
    font-size: 48px;
    margin-bottom: 20px;
}
    